/* Global Selector */
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

/* Element Selector */
body{
    position: relative;
    background-color:antiquewhite;
    color: navy;
    text-align: center;
}

header{
    position: fixed;
    border-bottom:10px solid #e44d26;
    top: 0;

}

.navBar{
    text-align: right;
    padding: 20px
}

main{
    padding: 60px 0 10px 0;
}

.header-li{
    display: inline;
}
h1, h2{
    color: #e44d26;
    margin: 20px;
}

header,
footer {
  height: 60px;
  width: 100%;
background-color: rgb(168, 168, 168);
}

figcaption{
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    margin:5px;
}

 p{
    padding: 10px;
 }

#padding, h2{
    margin: 0 75px;
    padding: 0 25px;
}

h3{
    font-style: italic;
}


img{
    display: block;
    margin: 0 auto;
 }

 
footer{
    text-align: center;
    background-color: rgb(168, 168, 168);
    line-height: 60px;
    color:white;
}

/* Style for form */


form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 300px;
    padding:  0;
  }

  .form-li{
    display:block;
    font-size: 14px;
  }

  #form-left{
    display: inline;
  }

section{
    background-color: aliceblue;
    border: 5px navy solid;
    border-radius: 20px;
    margin:5px 100px;
    padding: 5px;
}

label{
    display: inline-block;

}

input{
  box-sizing: border-box;
  width: 300px;
  border: 2px solid #4F4846;}

button{
    margin: 10px;
    padding: 5px 25px;
    border-radius: 15px;
    background-color: white;
}
/* style for form end */

/* class selectors */
.highlight{
    color:white;
    background-color: #e44d26;
}


/*ID Selectors */



